<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8346751702303202"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Unit Converter</h2>

    <label>Choose Category:</label>
    <select id="category" onchange="updateUnits()">
        <option value="length">Length</option>
        <option value="weight">Weight</option>
        <option value="temperature">Temperature</option>
    </select>

    <br>

    <label>Enter Value:</label>
    <input type="number" id="inputValue">

    <br>

    <label>From:</label>
    <select id="fromUnit"></select>

    <label>To:</label>
    <select id="toUnit"></select>

    <br>

    <button onclick="convert()">Convert</button>

    <h3>Converted Value: <span id="outputValue">0</span></h3>

    <script>
        const units = {
            "length": ["km", "m", "cm", "mm"],
            "weight": ["kg", "g", "lb", "oz"],
            "temperature": ["C", "F"]
        };

        function updateUnits() {
            let category = document.getElementById("category").value;
            let fromSelect = document.getElementById("fromUnit");
            let toSelect = document.getElementById("toUnit");

            fromSelect.innerHTML = "";
            toSelect.innerHTML = "";

            units[category].forEach(unit => {
                fromSelect.innerHTML += `<option value="${unit}">${unit}</option>`;
                toSelect.innerHTML += `<option value="${unit}">${unit}</option>`;
            });
        }

        async function convert() {
            let value = document.getElementById("inputValue").value;
            let fromUnit = document.getElementById("fromUnit").value;
            let toUnit = document.getElementById("toUnit").value;
            let category = document.getElementById("category").value;

            let response = await fetch("/convert", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ value, fromUnit, toUnit, category })
            });

            let result = await response.json();
            document.getElementById("outputValue").innerText = result.result;
        }

        window.onload = updateUnits;
    </script>


</body>
</html>
 
